#del-btn {
    max-width: 2.5em;
    min-width: 2.5em !important;
    height: 2.5em;
    margin: 1.5em 0;
}

.message {
    width: inherit !important;
    padding-left: 20px !important;
}

.app {
    max-width: 100% !important;
}

.math.inline > span {
    display: none;
}

.math.inline > svg {
    display: inline;
}